{%extends 'base.html'%} {%block content%}
<h1>Home</h1>
<style>
    .flex-container {
        display: flex;
        flex-direction: row;
    }
</style>
<div class="flex-container">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime recusandae est temporibus voluptatem fugiat illo non molestias magnam facere qui eligendi ea corporis atque labore, nihil dolorem possimus tempora! Deserunt. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Tempora asperiores nesciunt quam, ipsa doloremque dicta aliquam natus placeat repellendus debitis magni ducimus possimus perspiciatis, modi itaque facilis ipsam facere voluptas. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ex eum asperiores earum sunt laborum ad odio vitae. Aut tenetur nisi asperiores quaerat obcaecati laudantium commodi nemo sequi unde, facilis placeat?
    </p>
</div>
<div class="flex-container">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime recusandae est temporibus voluptatem fugiat illo non molestias magnam facere qui eligendi ea corporis atque labore, nihil dolorem possimus tempora! Deserunt. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Tempora asperiores nesciunt quam, ipsa doloremque dicta aliquam natus placeat repellendus debitis magni ducimus possimus perspiciatis, modi itaque facilis ipsam facere voluptas. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ex eum asperiores earum sunt laborum ad odio vitae. Aut tenetur nisi asperiores quaerat obcaecati laudantium commodi nemo sequi unde, facilis placeat?
    </p>
</div>

{%endblock%}