{%extends 'base.html' %} {%block content%}
<h1>home</h1>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minima aperiam explicabo corporis iste labore quia, ea odit animi, ipsum qui eaque harum in repellat porro. Recusandae dolor laudantium soluta!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, corporis aspernatur? Modi similique unde natus ab aut quas, pariatur dolorem fugit quod suscipit quibusdam ipsum cum dignissimos in hic rem.</p>
</div>
{%endblock%}