{%extends 'base.html' %} {%block content%}
<h1>Projects</h1>
<style>
    #submit {
        background-color: inherit;
        border-radius: 10px 30px 10px 30px;
        color: #00ffff;
        border-color: aqua;
        padding: 4px;
        width: 140px;
        font-size: large;
        animation: grow;
        animation-duration: 2s
    }
    
    .card {
        width: fit-content;
    }
    
    div {
        color: aqua;
    }
</style>

<div class="container">
    <form method="post">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h3>Weight converter</h3>
            </div>
            <div>
                <label for="Weight">Weight: </label>
                <input type="number" name="Weight" placeholder="0" value="0" required>
            </div>
            <div>
                <label for="Unit">Unit: </label>
                <input type="radio" value="KG" name="Unit" required> Kilograms
                <input type="radio" value="LB" name="Unit" required> Pounds
            </div>
            <input type="submit" value="Submit!" id='submit'>
        </div>
    </form>
    <form action="get">
        <div class="card" style="font-size: xx-large;">
            <div class="card-header">
                <h3>Results</h3>
            </div>
            {%for info in weightKG%} {{info.Weight}} {{info.Unit}} = {{info.Kg2Lb}}LB {%endfor%} {%for info in weightLB%} {{info.Weight}} {{info.Unit}} = {{info.Lb2Kg}}KG {%endfor%}
        </div>
    </form>
</div>
<div class="container">
    <form method="post">
        {%csrf_token%}
        <div class="card">
            <div class="card-header">
                <h3>Password Generator</h3>
            </div>
            <div>
                <label for="Length">How long would you like your password?</label>
                <input type="number" name="Length" placeholder="0" style="width: 40px;">
            </div>
            <div>
                <label for="Special">Special Characters? </label>
                <input type="radio" name="Special" value="True" required>Yes
                <input type="radio" name="Special" value="False" required>NO
            </div>
            <input type="submit" value="Submit!" id='submit'>
        </div>
    </form>
    <form action="get">
        <div class="card" style="font-size: xx-large;">
            <div class="card-header">
                <h3>Results</h3>
            </div>
            {%for info in Pass%}Generated Password = {{info.make_password}}{%endfor%}
        </div>
    </form>
</div>
{%endblock%}